version: '3.8'

services:
  # Shared Database (MySQL)
  mysql:
    image: mysql:8.0
    container_name: shared-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: entrusting_db # Creates this DB by default
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql # For creating the second DB (trustee_db)
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10



networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
